/* Colors
blues:
  04396c
  0c5aa6
  408ad2
  679ed2
yellows:
  a66200
  ff9700
  ffb140
*/

* {
  font-family: 'Century Gothic';
}

/* Header */
.navbar {
  background-color: white;
}

.nav-elem {
  font-size: 1.4em;
  float: left;
}

.navbar .nav, .navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom: 1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align: center;
}

.navbar-form {
  float: left;
}

#dropdown-button {
  border: solid 1px;
}

.icon-bar {
  background-color: black;
}

#username {
  margin-left: 10px;
}

#submit-login {
  margin-right: 10px;
  margin-left: 10px;
}

/* Main Body */
body {
  margin: 0;
  padding: 60px 0 0 0;
}

/* About Us */
#about > * {
  background-color: #408ad2;
  color: white;
}

#about > * {
  text-align: center;
}

.section-label {
  text-align: center;
  margin: 80px;
}

.inner-section-label {
  text-align: center;
  padding: 40px;
}

.about-container {
  padding-bottom: 40px;
}

.eboard-bio {
  height: 200px;
  width: 200px;
  position: relative;
}

.eboard-bio > * {
}

.front {
  height: inherit;
  width: inherit;
  padding: 20px;
}

.back {
  background-color: white;
  color: #408ad2;
  height: inherit;
  width: inherit;
  padding: 30px;
}

.eboard-list-wrapper {
  padding-bottom: 30px;
}

.eboard-list-wrapper > h3 {
  padding-bottom: 10px;
}

.eboard-list > p {
  margin: 5px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

/* Project Links */
#projects {
  text-align: center;
}

#projects > div > h1 {
  padding-top: 60px;
}

.proj {
  height: 400px;
}

#proj1 {
  padding: 80px 160px;
}

#proj2 {
  height: 440px;
}

#proj3 {
  padding: 0 200px;
}

.proj > img {
  position: relative;
  width: 100%;
  height: 100%;
}

.proj > p {
  text-size: 1.4em;
  display: none;
}

.proj-description {
  display: none;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 250px;
  font-size: 2em;
}

/* General Club Info */
#events {
  background-color: #ffb140;
}

#events > div > h1 {
  padding-top: 60px;
}

.gen-info {
  text-align: center;
  margin: 40px;
}

.gen-info > p {
  font-size: 1.4em;
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-bottom: solid 1px;
  margin-bottom: 40px;
}

.calendar {
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid 1px;
  frameborder: 0;
  scrolling: no;
}
